body{
    font-family: "Roboto",sans-serif; 
color: #434455;
background-color:#fff;
}
h1,
h2,
h3,
p{
    margin: 0;
}
img{
    display: block;
}
.page-header .container{
    display: flex;
    width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
align-items: center;
}
.container{

width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.address{
    font-style: normal;
    margin-left: auto;
}
a{
    text-decoration: none;
    color: #2E2F42;
}
ul{
    list-style-type: none;
margin: 0;
padding-left: 0;
}
.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.navigation{
    display: flex;
    align-items: center;
}
.menu{
        display: flex;
        gap: 40px;
}

.link{    
    text-decoration: 0; 
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-web{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}
span{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.nav-list{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.active::after{
    content:'' ;
    width: 100%;
    display: block;
    height: 4px;
    border-radius: 4px;
    background: #404bbf;
}
.link:hover,
.link:focus{
    color: #404bbf;
}
.address-ul{
    display: flex;
    gap: 40px;
}
.address-ul:last-child {
    margin-right: 0;
}
.mail{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.mail-link{
    color:#434455;
}
.mail-link:hover,
.mail-link:focus{
color:#404bbf;
}
.main-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto;
}
.first-section{
    background-color: #2E2F42;
    height: 600px;
    padding: 188px 0;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}
.main-section{
    background: #2e2f42;
   

}
button{
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.title-button{
    display: block;
    background-color: #4D5AE5;
    max-width: 169px;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
}
button:hover,
button:focus{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
            background-color: #404BBF;
            font-weight: 600;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.text-main{
    display: flex;
    gap: 24px;
}
.icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
}
.advantages-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.ioyu{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.ioyu-team{
font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}
h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;

}
.our-team{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-card{
    margin-bottom: 72px;
}
.team-icons{
    display: flex;
   margin-top: 8px;
   padding-left: 16px;
    gap: 24px; 
}
.link-icons:hover,
.link.icons:focus{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #404bbf;
}
.link-icons{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-list{
    fill:#f4f4fd;
}

.list{
    display: flex;
    gap: 24px;
}
.li-list{
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
}
.four-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.four-title{
    margin-bottom: 72px;
}
.four-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.four-li{
    width: calc((100% - 48px) / 3);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
   display: flex;
   position: relative;
   overflow: hidden;
  }
.overlay-text{
    position: absolute;
    margin: 0 auto;
    width: 360px;
    height: 300px;
    padding-top: 40px;
    padding-left: 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    
  transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.four-li:hover .overlay-text{
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.4 0, 0.2, 1) ;
}
 .four-li:hover,
 .four-li:focus{
    cursor: pointer;
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
 }
  
.your-team{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
}
.list-container{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: white;
}
.list-item{
    width: calc((100% - 72px) / 4);
}
.four-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}




.footer{
    background: #2e2f42;
    padding: 100px 0;
}
.span-more{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;

}

.your-partfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    margin-bottom: 8px;
}
.span-more{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.paragraf{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}

.footer-h{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.footer-link-icons{
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icons:hover,
.footer-link-icons:focus{
    background-color: #31d0aa;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-main-icons{
    display: flex;
    align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
    margin-top: 16px;
     gap: 16px;     
}
.footer-div{
    display: block;
    margin-right: 120px;
}
.footer-icons-list{
    fill: #f4f4fd
}
.footer .logo-web{
    display: inline-block;
    margin-bottom: 16px;
}